header {
  background-color: #A37D52;
  color: #D8C6B1;
  text-align: center;
  padding; 30px;
}
body {
  background-color: #D8C6B1;
  color: #D8C6B1;
}
article {
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}
}
  
