* {
  margin:10px;
}
h2 {
  margin:20px;
  color: #A37D52;
}
header {
  background-color: #A37D52;
  color: #D8C6B1;
  text-align: center;
  padding: 50px;
}
body {
  background-color: #D8C6B1;
  
}
article {
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}
footer {
  background-color: #A37D52;
  color: black;
  text-align: center;
  padding: 30px;
  
}
nav {
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  margin:  0 80px;
   background-color: #A37D52;
  color: #D8C6B1;
  font-size: 24px;
  padding: 10px 70px;
}
nav a {
   text-decoration: none;
}
  
time {
  color: #A37D52;
}

  
