header {
  background-color: #A37D52;
  color: #D8C6B1;
  text-align: center;
  padding; 100px 50px;
}
body {
  background-color: #D8C6B1;
  color: #A37D52;
}
article {
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}
footer {
  background-color: #A37D52;
  color: black;
  text-align: center;
  padding;  50px 30px;
  
}
}
  
